# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# 图片文件（如果图片很大，可以考虑不提交）
# public/images/portfolio/**/*.jpg
# public/images/portfolio/**/*.png
# public/images/portfolio/**/*.jpeg

# 临时文件
*.tmp
*.temp
